/*~~~~~~~~~~~~~~*/
/*  App字体大小  */
/*~~~~~~~~~~~~~~*/
$loginTitle:60px;
$btnFontSize:32px;
$pageTitleFontSize:32px;
$inputFontSize:32px;
$headerTextFontSize:36px;
$checkboxFontSize:26px;

/*~~~~~~~~~~~~~~*/
/*  App通用尺寸  */
/*~~~~~~~~~~~~~~*/
$checkboxSize: 30px;
$headerPx: 90px;
$footerPx: 98px;


